<mat-tab-group mat-align-tabs="center" [backgroundColor]="background">
    <mat-tab label="List Of Available Projects">
        <div *ngIf="projects">
            <div *ngFor="let project of projects">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Faculty Name : {{ project["faculty_name"] }}
                            </mat-panel-title>
                            <mat-panel-description>
                                Project Title : {{ project["title"] }}
                                <div class="flex-space"></div>
                                Maximum Student Intake : {{ project["studentIntake"] }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Faculty Email : {{ project["faculty_email"] }}</p>
                        <p>Description : {{ project["description"] }}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="My Preferences">
        <div *ngIf="preferences">
            <div *ngFor="let preference of preferences">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Faculty Name : {{ preference["faculty_name"] }}
                            </mat-panel-title>
                            <mat-panel-description>
                                Project Title : {{ preference["title"] }}
                                <div class="flex-space"></div>
                                Maximum Student Intake : {{ preference["studentIntake"] }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Faculty Email : {{ preference["faculty_email"] }}</p>
                        <p>Description : {{ preference["description"] }}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-tab>

    <!-- <mat-tab label="Third">Content 3</mat-tab> -->
</mat-tab-group>
