// .projects {
//     padding-top: 3%;
// }
.flex-space {
    flex-grow: 1;
}

.list {
    /* border: solid 1px #ccc; */
    min-height: 60px;
    // background: white;
    border-radius: 4px;
    display: block;
    // overflow: hidden;
    margin-left: 10%;
}

.list-item {
    padding: 20px 10px;
    width: 80%;
    box-sizing: border-box;
    cursor: move;
    // color: red;
    font-size: 14px;
}

.list-item:last-child {
    border: none;
}
