.list {
  /* border: solid 1px #ccc; */
  min-height: 60px;
  /* background: white; */
  border-radius: 4px;
  display: block;
  overflow: hidden;
}

.list-item {
  padding: 20px 10px;
  /* border-bottom: solid 1px #ccc; */
  box-sizing: border-box;
  cursor: move;
  /* background: white; */
  color: black;
  font-size: 14px;
}

.list-item:last-child {
  border: none;
}
