<mat-dialog-content
  *ngIf="preferences.projects_preference.length != 0; else elseBlock"
>
  <mat-toolbar class="toolbar">
    <mat-icon matTooltip="close pop-up" matTooltipPosition="above" color="accent" (click)="close()">close</mat-icon>
    <div class="fill-space"></div>
    <div #container class="copy">
      <button
        mat-raised-button
        color="primary"
        ngxClipboard
        [cbContent]="value"
        [container]="container"
        (cbOnSuccess)="copied($event)"
      >
        Copy to Clipboard
      </button>
    </div>
  </mat-toolbar>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div>
      <div
        class="list-item"
        *cdkVirtualFor="let preference of preferences.projects_preference"
      >
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Faculty : {{ preference["faculty_name"] }}
              </mat-panel-title>
              <mat-panel-description>
                <div class="flex-space"></div>
                Project Title : {{ preference["title"] }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Faculty Email : {{ preference["faculty_email"] }}</p>
            <p>Description : {{ preference["description"] }}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="flex-space"></div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</mat-dialog-content>
<ng-template #elseBlock>
  <div class="text">
    No preferences to display
  </div>
</ng-template>
