.list {
    min-height: 60px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
}

.copy {
    float: right;
}

.toolbar {
    position: sticky;
}

.example-viewport {
    height: 400px;
    width: 800px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.text {
    text-align: center;
}

mat-icon:hover {
    cursor: pointer;
}

.fill-space {
    flex: 1 1 auto;
}

.list-item {
    padding: 10px 10px;
    box-sizing: border-box;
    cursor: move;
    color: black;
    font-size: 14px;
}

.list-item:last-child {
    border: none;
}
