.list {
    min-height: 60px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
}

mat-dialog-content {
    height: 100%;
    overflow: auto;
}

.project {
    float: left;
}

.faculty {
    float: right;
}

.example-viewport {
    height: 500px;
    width: 800px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.text {
    text-align: center;
}

.list-item {
    padding: 20px 10px;
    box-sizing: border-box;
    cursor: move;
    color: black;
    font-size: 14px;
}

.list-item:last-child {
    border: none;
}
