<mat-tab-group [(selectedIndex)]="index" animationDuration="0" [backgroundColor]="background" dynamicHeight="true" mat-align-tabs="center">
    <mat-tab label="Faculty">
        <mat-tab-group *ngIf="index == 0" animationDuration="0" [selectedIndex]="0">
            <mat-tab *ngFor="let branch of programs" [label]="branch.name">
                <div class="searchBox">
                    <input class="searchInput" autocomplete="off" type="search" mat-input placeholder="Search by any ... " name="search" [(ngModel)]="faculty" />
                    <button class="searchButton" href="#">
            <i class="material-icons">search</i>
          </button>
                </div>
                <div class="display">
                    <div class="table mat-elevation-z8">
                        <table mat-table [dataSource]="faculties[branch.short] | filter: faculty" class="mat-elevation-z8">
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef [style.color]="background">
                                    Name
                                </th>
                                <td mat-cell *matCellDef="let faculty">{{ faculty.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Stream">
                                <th mat-header-cell *matHeaderCellDef>Stream</th>
                                <td mat-cell *matCellDef="let faculty">{{ faculty.stream }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Email-ID">
                                <th mat-header-cell *matHeaderCellDef>Email-ID</th>
                                <td mat-cell *matCellDef="let faculty">{{ faculty.email }}</td>
                            </ng-container>
                            <ng-container matColumnDef="isAdmin">
                                <th mat-header-cell *matHeaderCellDef>Admin</th>
                                <td mat-cell *matCellDef="let faculty">
                                    {{ faculty.isAdmin ? "YES" : "NO" }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let faculty">
                                    <span [matTooltip]="
                      getToolTipToRemoveFaculty(faculty, branch.short)
                    " matTooltipPosition="above"><button
                      color="warn"
                      mat-raised-button
                      [disabled]="faculty.isAdmin"
                      (click)="deleteFaculty(faculty._id)"
                    >
                      Remove
                    </button></span
                  >
                  <button
                    class="admin-button"
                    color="primary"
                    *ngIf="!faculty.isAdmin"
                    mat-raised-button
                    (click)="addAdmin(faculty._id, branch.short)"
                  >
                    Make Admin
                  </button>
                  <button
                    class="remove-admin-button"
                    color="primary"
                    *ngIf="
                      faculty.isAdmin && faculty.adminProgram == branch.short
                    "
                    mat-raised-button
                    (click)="removeAdmin(faculty._id)"
                  >
                    Remove Admin Status
                  </button>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsFaculty"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsFaculty"
              ></tr>
            </table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Student">
    <mat-tab-group *ngIf="index == 1" animationDuration="0" [selectedIndex]="0">
      <mat-tab *ngFor="let branch of programs" [label]="branch.name">
        <div class="searchBox">
          <input
            class="searchInput"
            autocomplete="off"
            type="search"
            placeholder="Search by any ... "
            name="search"
            [(ngModel)]="student"
          />
          <button class="searchButton" href="#">
            <i class="material-icons">search</i>
          </button>
        </div>
        <div class="display">
          <div class="table mat-elevation-z8">
            <table
              mat-table
              [dataSource]="students[branch.short] | filter: student"
              class="mat-elevation-z8"
            >
              <ng-container tainer matColumnDef="Name">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [style.color]="background"
                >
                  Name
                </th>
                <td mat-cell *matCellDef="let student">{{ student.name }}</td>
              </ng-container>
              <ng-container matColumnDef="Stream">
                <th mat-header-cell *matHeaderCellDef>Stream</th>
                <td mat-cell *matCellDef="let student">{{ student.stream }}</td>
              </ng-container>
              <ng-container matColumnDef="Email-ID">
                <th mat-header-cell *matHeaderCellDef>Email-ID</th>
                <td mat-cell *matCellDef="let student">{{ student.email }}</td>
              </ng-container>
              <ng-container matColumnDef="CGPA">
                <th mat-header-cell *matHeaderCellDef>CGPA</th>
                <td mat-cell *matCellDef="let student">{{ student.gpa }}</td>
              </ng-container>
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let student">
                  <button
                    color="warn"
                    mat-raised-button
                    (click)="deleteStudent(student._id)"
                  >
                    Remove
                  </button>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsStudent"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsStudent"
              ></tr>
            </table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Projects">
    <mat-tab-group *ngIf="index == 2" animationDuration="0" [selectedIndex]="0">
      <mat-tab *ngFor="let branch of programs" [label]="branch.name">
        <div class="searchBox">
          <input
            class="searchInput"
            autocomplete="off"
            type="search"
            placeholder="Search by any ... "
            name="search"
            [(ngModel)]="project"
          />
          <button class="searchButton" href="#">
            <i class="material-icons">search</i>
          </button>
        </div>
        <div class="display">
          <div class="table mat-elevation-z8">
            <table
              mat-table
              [dataSource]="projects[branch['short']] | filter: project"
              class="mat-elevation-z8"
            >
              <ng-container tainer matColumnDef="Title">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [style.color]="background"
                >
                  Title
                </th>
                <td mat-cell *matCellDef="let project">{{ project.title }}</td>
              </ng-container>
              <ng-container tainer matColumnDef="Faculty">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [style.color]="background"
                >
                  Faculty
                </th>
                <td mat-cell *matCellDef="let project">
                  {{ project.faculty }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Stream">
                <th mat-header-cell *matHeaderCellDef>Stream</th>
                <td mat-cell *matCellDef="let project">{{ project.stream }}</td>
              </ng-container>
              <ng-container matColumnDef="NoOfStudents">
                <th mat-header-cell *matHeaderCellDef>
                  Number Of Students Applied
                </th>
                <td mat-cell *matCellDef="let project">
                  {{ project.numberOfPreferences }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Duration">
                <th mat-header-cell *matHeaderCellDef>Duration</th>
                <td mat-cell *matCellDef="let project">
                  {{ project.duration }}
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsProjects; sticky: true"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsProjects"
              ></tr>
            </table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Streams">
    <div class="display">
      <div class="table mat-elevation-z8">
        <div class="add-icon">
          <mat-icon
            matTooltip="Click to add program"
            matTooltipPosition="above"
            (click)="addBranches()"
            >add</mat-icon
          >
        </div>
        <table mat-table [dataSource]="branches" class="mat-elevation-z8">
          <ng-container tainer matColumnDef="Stream">
            <th mat-header-cell *matHeaderCellDef [style.color]="background">
              Stream Name
            </th>
            <td mat-cell *matCellDef="let map">{{ map.name }}</td>
          </ng-container>
          <ng-container tainer matColumnDef="Short">
            <th mat-header-cell *matHeaderCellDef [style.color]="background">
              Stream Abbrevation
            </th>
            <td mat-cell *matCellDef="let map">{{ map.short }}</td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Delete Stream</th>
            <td mat-cell *matCellDef="let map">
              <mat-icon
                matTooltip="Delete Stream"
                matTooltipPosition="right"
                (click)="deleteBranch(map.short)"
              >
                delete_outline</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsStreams"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsStreams"
          ></tr>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Programs">
    <div class="display">
      <div class="table mat-elevation-z8">
        <div class="add-icon">
          <mat-icon
            matTooltip="Click to add program"
            matTooltipPosition="above"
            (click)="addPrograms()"
            >add</mat-icon
          >
        </div>
        <table
          mat-table
          [dataSource]="programs | filter: map"
          class="mat-elevation-z8"
        >
          <ng-container tainer matColumnDef="Branch">
            <th mat-header-cell *matHeaderCellDef [style.color]="background">
              Program Name
            </th>
            <td mat-cell *matCellDef="let map">{{ map.name }}</td>
          </ng-container>
          <ng-container tainer matColumnDef="Short">
            <th mat-header-cell *matHeaderCellDef [style.color]="background">
              Program Abbrevation
            </th>
            <td mat-cell *matCellDef="let map">{{ map.short }}</td>
          </ng-container>
          <ng-container matColumnDef="Map">
            <th mat-header-cell *matHeaderCellDef>Map</th>
            <td mat-cell *matCellDef="let map">{{ map.map }}</td>
          </ng-container>
          <ng-container matColumnDef="FacCount">
            <th mat-header-cell *matHeaderCellDef>No. Of Faculties</th>
            <td mat-cell *matCellDef="let map">
              {{ faculties[map.short] ? faculties[map.short].length : "" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="StudCount">
            <th mat-header-cell *matHeaderCellDef>No. Of Students</th>
            <td mat-cell *matCellDef="let map">
              {{ students[map.short] ? students[map.short].length : "" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="ProjCount">
            <th mat-header-cell *matHeaderCellDef>No. Of Projects</th>
            <td mat-cell *matCellDef="let map">
              {{ projects[map.short] ? projects[map.short].length : "" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Delete Program</th>
            <td mat-cell *matCellDef="let map">
              <mat-icon
                matTooltip="Delete Program"
                matTooltipPosition="right"
                (click)="deleteProgram(map.short)"
                >delete_outline</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsMaps"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsMaps"></tr>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
