.searchBox {
    position: absolute;
    left: 70%;
    transform: translate(-50%, 50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 0px;
}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

mat-icon:hover {
    cursor: pointer;
}

.display {
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 1%;
    z-index: 2;
}

.table {
    max-height: 700px;
    overflow: auto;
    width: 80%;
    margin-left: 10%;
}

table {
    width: 100%;
}

th,
td {
    overflow: hidden;
    width: 10%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.admin-button {
    margin-left: 5px;
}

.remove-admin-button {
    margin-left: 5px;
}
