@import "src/custom-theme";

$primary: mat-palette($mat-red, 700);
$accent: mat-palette($mat-blue, 400, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-custom-theme($theme);
