@import "../../app-theme";
// Define the dark theme.
$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-orange, A700, A700, A700);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-custom-theme($theme);