@import "src/custom-theme";

$primary: mat-palette($mat-purple, 800);
$accent: mat-palette($mat-green, 400, A100, A400);
$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-custom-theme($theme);
