.navbar {
    justify-content: space-between;
}

a {
    float: right;
    padding-right: 10px;
}

.navhead {
    font-size: larger;
}

.text {
    font-size: medium;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}