<mat-tab-group
  animationDuration="0"
  backgroundColor="primary"
  dynamicHeight="true"
  mat-align-tabs="center"
>
  <mat-tab label="Stage Summary">
    <div class="stages">
      <div class="display">
        <div class="table mat-elevation-z8">
          <table
            mat-table
            #table
            [dataSource]="stageDetails"
            (matSortChange)="sortStages($event)"
            class="mat-elevation-z8"
            matSort
          >
          <ng-container tainer matColumnDef="Program">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Program
            </th>
            <td mat-cell *matCellDef="let admin">{{ admin.full }}</td>
          </ng-container>

            <ng-container tainer matColumnDef="Abbreviation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Abbreviation
              </th>
              <td mat-cell *matCellDef="let admin">{{ admin.stream }}</td>
            </ng-container>

            <ng-container tainer matColumnDef="Stage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Stage
              </th>
              <td mat-cell *matCellDef="let admin">
                {{ admin.stage >=3 ? 4 : admin.stage - 1  }} / {{4}}
              </td>
            </ng-container>

            <ng-container tainer matColumnDef="Time">
              <th mat-header-cell *matHeaderCellDef>
                Time Left
              </th>
              <td mat-cell *matCellDef="let admin">
                <span class="days_left"
                  ><strong *ngIf="admin.deadlines; else none">
                    {{ admin.deadlines | countdown: currentTime }}</strong
                  >
                  <ng-template #none>
                    N/A
                  </ng-template>
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="stageTableCols;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: stageTableCols"></tr>
          </table>
        </div>
      </div>
    </div>

  </mat-tab>

  <mat-tab label="Project Summary">
    <div class="display">
      <div class="table mat-elevation-z8">
        <table
          mat-table
          #table
          [dataSource]="projectDetails"
          (matSortChange)="sortProjectDetails($event)"
          class="mat-elevation-z8"
          matSort
        >
          <ng-container tainer matColumnDef="Program">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Program
            </th>
            <td mat-cell *matCellDef="let project">{{ project.stream }}</td>
          </ng-container>

          <ng-container tainer matColumnDef="Project">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Project
            </th>
            <td mat-cell *matCellDef="let project">
              {{ project.title }}
            </td>
          </ng-container>

          <ng-container tainer matColumnDef="StudentsApplied">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Students Applied
            </th>
            <td mat-cell *matCellDef="let project">
              {{ project.noOfPreferences }}
            </td>
          </ng-container>
          <ng-container tainer matColumnDef="StudentIntake">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Student Intake
            </th>
            <td mat-cell *matCellDef="let project">
              {{ project.studentIntake }}
            </td>
          </ng-container>
          <ng-container tainer matColumnDef="StudentsAlloted">
            <th mat-header-cell *matHeaderCellDef>
              Students Alloted
            </th>
            <td mat-cell *matCellDef="let project">
              <div
                *ngIf="
                  project.student_alloted &&
                    project.student_alloted.length > 0 &&
                    publishFaculty;
                  else elseBlock
                "
              >
                <div *ngFor="let student of project.student_alloted">
                  {{ student | displayFacultyPublish }}
                </div>
              </div>
              <ng-template #elseBlock>
                N/A
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="allProjectCols;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: allProjectCols"></tr>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
