.reset {
    text-align: center;
}

mat-card-header {
    display: inline-block;
}

mat-card {
    display: inline-block;
    top: 20px;
}

mat-card-content {
    margin-top: 20px;
}

.text span {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
