// #customBtn {
//   display: inline-block;
//   background: white;
//   color: #444;
//   width: 190px;
//   border-radius: 5px;
//   border: thin solid #888;
//   box-shadow: 1px 1px 1px grey;
//   white-space: nowrap;
// }

// button {
//   width: 190px;
//   height: 42;
//   padding-left: 0px;
//   padding-right: 0px;
// }

// #customBtn:hover {
//   cursor: pointer;
// }

// span.label {
//   font-family: serif;
//   font-weight: normal;
// }

// span.icon {
//   background: url("https://img.icons8.com/color/40/000000/google-logo.png")
//     transparent 5px 50% no-repeat;
//   display: inline-block;
//   vertical-align: middle;
//   width: 42px;
//   height: 42px;
// }

// span.buttonText {
//   display: inline-block;
//   vertical-align: middle;
//   padding-left: 17px;
//   padding-right: 42px;
//   font-size: 14px;
//   font-weight: bold;
//   font-family: "Roboto", sans-serif;
// }

a:hover {
    cursor: pointer;
}

.sign-out {
    margin-top: 10px;
}

.google-btn {
    height: 45px;
}

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
    width: 184px;
    height: 42px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }

    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 8px;
        width: 18px;
        height: 18px;
    }

    .btn-text {
        float: right;
        margin: 5px 14px 0 0;
        color: black;
        font-size: 14px;
    }
}
