<!-- <div>
  <button mat-button (click)="userActivity()">
    <div id="gSignInWrapper">
      <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText" *ngIf="!getCondition()"
          >Sign in with Google</span
        >
        <span class="buttonText" *ngIf="getCondition()">Sign out</span>
      </div>
    </div>
  </button>
</div> -->

<div>
  <a (click)="userActivity()">
    <div class="google-btn" *ngIf="!getCondition()">
      <img src="../../../../assets/btn_google_signin_light_focus_web.png" />
    </div>
    <mat-icon
      class="sign-out"
      matTooltip="Sign Out"
      matTooltipPosition="below"
      *ngIf="getCondition()"
      >exit_to_app</mat-icon
    >
  </a>
</div>
