<div class="list-item" *ngFor="let projects of faculty_projects">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ projects["title"] }}
                </mat-panel-title>
                <mat-panel-description>
                    <div class="flex-space"></div>
                    Duration : {{ projects["duration"] }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Description : {{ projects["description"] }}</p>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="flex-space"></div>
</div>