.flex-space {
    flex-grow: 1;
}

.list-item {
    padding: 20px 10px;
    /* border-bottom: solid 1px #ccc; */
    box-sizing: border-box;
    cursor: move;
    /* background: white; */
    color: black;
    font-size: 14px;
}

