<mat-tab-group
        animationDuration="0" backgroundColor="primary" dynamicHeight="true" mat-align-tabs="center">
    <mat-tab label="Stage Summary">
        <div class="stages">
            <div class="display">
                <div class="table mat-elevation-z8">
                    <table
                        #table
                        (matSortChange)="sortStages($event)"
                        [dataSource]="stageDetails"
                        class="mat-elevation-z8"
                        mat-table
                        matSort>
                        <ng-container matColumnDef="Program">
                            <th
                                    *matHeaderCellDef mat-header-cell mat-sort-header>
                                Program
                            </th>
                            <td *matCellDef="let admin" mat-cell>
                                {{ admin.full }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Abbreviation">
                            <th
                                    *matHeaderCellDef mat-header-cell mat-sort-header>
                                Abbreviation
                            </th>
                            <td *matCellDef="let admin" mat-cell>
                                {{ admin.stream }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Stage">
                            <th
                                    *matHeaderCellDef mat-header-cell mat-sort-header>
                                Stage
                            </th>
                            <td *matCellDef="let admin" mat-cell>
                                {{ admin.stage >= 3 ? 4 : admin.stage + 1 }} /{{ 4 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Time">
                            <th *matHeaderCellDef mat-header-cell>Time Left</th>
                            <td *matCellDef="let admin" mat-cell>
                                <span
                                        class="days_left"><strong *ngIf="admin.deadlines; else none">
                                        {{admin.deadlines
                                    | countdown: currentTime}}</strong>
                                    <ng-template #none> N/A </ng-template>
                                </span>
                            </td>
                        </ng-container>

                        <tr
                                *matHeaderRowDef="stageTableCols; sticky: true" mat-header-row></tr>
                        <tr
                                *matRowDef="let row; columns: stageTableCols" mat-row></tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Project Summary">
        <div class="display">
            <div class="table mat-elevation-z8">
                <table
                    #table
                    (matSortChange)="sortProjectDetails($event)"
                    [dataSource]="projectDetails"
                    class="mat-elevation-z8"
                    mat-table
                    matSort>
                    <ng-container matColumnDef="Program">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            Program
                        </th>
                        <td *matCellDef="let project" mat-cell>
                            {{ project.stream }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Project">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            Project
                        </th>
                        <td *matCellDef="let project" mat-cell>
                            {{ project.title }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="StudentsApplied">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            Students Applied
                        </th>
                        <td
                                *matCellDef="let project" class="align-center" mat-cell>
                            {{ project.noOfPreferences }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="StudentIntake">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            Student Intake
                        </th>
                        <td
                                *matCellDef="let project" class="align-center" mat-cell>
                            {{ project.studentIntake }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="StudentsAlloted">
                        <th *matHeaderCellDef mat-header-cell>
                            Students Alloted
                        </th>
                        <td *matCellDef="let project" mat-cell>
                            <div
                                    *ngIf="
                                    project.student_alloted &&
                                        project.student_alloted.length > 0 &&
                                        publishFaculty &&
                                        publishFaculty[project.stream];
                                    else elseBlock
                                ">
                                <div
                                        *ngFor="
                                        let student of project.student_alloted
                                    ">
                                    {{ student | displayFacultyPublish }}
                                </div>
                            </div>
                            <ng-template #elseBlock> N/A</ng-template>
                        </td>
                    </ng-container>

                    <tr
                            *matHeaderRowDef="allProjectCols; sticky: true" mat-header-row></tr>
                    <tr
                            *matRowDef="let row; columns: allProjectCols" mat-row></tr>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
