<div class="drag-drop" *ngIf="loaded">
    <div class="container col-1">
        <h2><b>Available Projects</b></h2>
        <div cdkDropList id="cdk-drop-list-0" #todoList="cdkDropList" [cdkDropListData]="projects" [cdkDropListConnectedTo]="doneList" class="list" (cdkDropListDropped)="drop($event)">
            <div class="list-item" [cdkDragDisabled]="stage >= 2 ? true : false" *ngFor="let project of projects" cdkDrag>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Faculty : {{ project["faculty_name"] }}
                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="flex-space"></div>
                                Project Title : {{ project["title"] }}
                                <!-- Maximum Intake : {{ project["studentIntake"] }} -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Faculty Email : {{ project["faculty_email"] }}</p>
                        <p>Description : {{ project["description"] }}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div class="container col-2">
        <h2><b>My Preferences</b></h2>
        <div cdkDropList id="cdk-drop-list-1" #doneList="cdkDropList" [cdkDropListData]="preferences" [cdkDropListConnectedTo]="todoList" class="list" (cdkDropListDropped)="drop($event)">
            <div class="list-item" [cdkDragDisabled]="stage >= 2 ? true : false" *ngFor="let preference of preferences" cdkDrag>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Faculty : {{ preference["faculty_name"] }}
                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="flex-space"></div>
                                Project Title : {{ preference["title"] }}
                                <!-- Maximum Intake : {{ preference["studentIntake"] }} -->
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Faculty Email : {{ preference["faculty_email"] }}</p>
                        <p>Description : {{ preference["description"] }}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="space"></div>
        <div class="btn-align">
            <button color="primary" [disabled]="getDisable()" mat-flat-button (click)="onSubmit()">
        Save Preferences
      </button>
        </div>
    </div>
</div>
