<div class="container" *ngIf="empty; else notEmpty">

    <div *ngIf="!programs_mode; else goProgramMode">
    </div>

    <ng-template #goProgramMode>


        <div *ngIf="program_details">

            <!--
            <div class="top">

                <div *ngIf="program_details.curDeadline">
                    <span class="days_left"><strong>Time Left for this stage to end : </strong></span>
                    <countdown-timer [end]="program_details.curDeadline"></countdown-timer>
                </div>
                <div *ngIf="program_details.curDeadline">

                    <p *ngIf="program_details.admin.stage == 0"><strong> Stage {{program_details.admin.stage}} : </strong>Creating Projects</p>
                    <p *ngIf="program_details.admin.stage == 1"><strong> Stage {{program_details.admin.stage}}:</strong>Student Preferences</p>
                    <p *ngIf="program_details.admin.stage == 2"><strong> Stage {{program_details.admin.stage}}:</strong>Faculty Preferences</p>
                    <p *ngIf="program_details.admin.stage == 3"><strong> Stage {{program_details.admin.stage}}:</strong>Project Allocation</p>

                </div>

            </div> -->

            <app-timeline *ngIf="program_details.program.short" [program]="program_details.program.short"></app-timeline>


            <div class="display">
                <div class="table mat-elevation-z8">
                    <table mat-table #table [dataSource]="program_details.projects" class="mat-elevation-z8">
                        <ng-container tainer matColumnDef="Project Name">
                            <th mat-header-cell *matHeaderCellDef>
                                Project Name
                            </th>
                            <td mat-cell *matCellDef="let map">{{ map.title }}</td>
                        </ng-container>

                        <ng-container tainer matColumnDef="#Students Applied">
                            <th mat-header-cell *matHeaderCellDef>
                                No of Students Applied
                            </th>
                            <td mat-cell *matCellDef="let map">{{ map.students_id.length }}</td>
                        </ng-container>


                        <ng-container tainer matColumnDef="#Students Alloted">
                            <th mat-header-cell *matHeaderCellDef>
                                No of Students Alloted
                            </th>
                            <td mat-cell *matCellDef="let map">{{ map.student_alloted.length }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="Headers"></tr>
                        <tr mat-row *matRowDef="let row; columns: Headers"></tr>
                    </table>
                </div>
            </div>
        </div>



    </ng-template>

</div>
<ng-template #notEmpty>
    <div class="container-add" *ngIf="add; else display">
        <form [formGroup]="ProjectForm" novalidate (ngSubmit)="onSubmit()" class="form-card">
            <mat-card class="add-card mat-elevation-z12">
                <mat-card-title>
                    Add Project
                </mat-card-title>
                <mat-card-content class="add-card-content">
                    <div class="row">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Title" formControlName="title" />
                            <mat-error *ngIf="ProjectForm.controls['title'].hasError('required')">
                                Title is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Duration" formControlName="duration" />
                            <mat-error *ngIf="ProjectForm.controls['duration'].hasError('required')">
                                Duration is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="No. of Students" formControlName="studentIntake" />
                            <mat-error *ngIf="ProjectForm.controls['studentIntake'].hasError('required')">
                                StudentIntake is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="Description" formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <button mat-raised-button class="submit_button" [disabled]="!ProjectForm.valid" color="primary" type="submit">Submit</button>
            </mat-card>
        </form>
    </div>
    <ng-template #display>
        <mat-tab-group color="accent" dynamicHeight="true">

            <mat-tab label="Students">
                <app-student-table [project]="project" [adminStage]="adminStage" [student_list]="student_list">
                </app-student-table>
            </mat-tab>

            <mat-tab class="editPage" label="Edit">
                <div class="container-edit">
                    <form [formGroup]="EditForm" novalidate (ngSubmit)="onEditSubmit(project)" class="form-card">
                        <mat-card class="add-card mat-elevation-z12">
                            <mat-card-title>
                                Edit Project
                            </mat-card-title>

                            <mat-card-content class="add-card-content">
                                <div class="row">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Title" formControlName="title" [(ngModel)]="project.title" />
                                        <mat-error *ngIf="EditForm.controls['title'].hasError('required')">
                                            Title is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="row">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Duration (months)" formControlName="duration" [(ngModel)]="project.duration" />
                                        <mat-error *ngIf="EditForm.controls['duration'].hasError('required')">
                                            Duration is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="row">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="No. of Students" formControlName="studentIntake" [(ngModel)]="project.studentIntake" />
                                        <mat-error *ngIf="EditForm.controls['studentIntake'].hasError('required')">
                                            StudentIntake is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field class="full-width">
                                        <textarea matInput placeholder="Description" formControlName="description" [(ngModel)]="project.description"></textarea>
                                    </mat-form-field>
                                    <mat-error *ngIf="EditForm.controls['description'].hasError('required')">
                                        Description is <strong>required</strong>
                                    </mat-error>
                                </div>
                            </mat-card-content>
                            <button mat-raised-button *ngIf="adminStage == 0" class="edit-submit" [disabled]="!EditForm.valid" color="primary" type="submit">Submit</button>
                            <button mat-raised-button *ngIf="adminStage == 0" class="deleteButton" type="button" color="primary" (click)="deleteProject(project)">Delete</button>
                        </mat-card>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </ng-template>
</ng-template>