<div class="container" *ngIf="empty; else Forms">
  <div *ngIf="program_details">
    <app-timeline
      *ngIf="program_details"
      [program]="stream"
      [clone]="'temp'"
    ></app-timeline>
    <!-- <div class="flex-space" *ngIf="program_details"></div> -->
    <div class="display">
      <div class="table mat-elevation-z8">
        <table
          mat-table
          #table
          (matSortChange)="sortProjectDetails($event)"
          [dataSource]="program_details"
          class="mat-elevation-z8"
          matSort
        >
          <ng-container tainer matColumnDef="Program">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Program
            </th>
            <td mat-cell *matCellDef="let project">{{ project.stream }}</td>
          </ng-container>
          <ng-container tainer matColumnDef="Project">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Project
            </th>
            <td mat-cell *matCellDef="let project">{{ project.title }}</td>
          </ng-container>

          <ng-container tainer matColumnDef="StudentsApplied">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Students Applied
            </th>
            <td class="align-center" mat-cell *matCellDef="let project">
              {{ project.noOfPreferences }}
            </td>
          </ng-container>
          <ng-container tainer matColumnDef="StudentIntake">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Student Intake
            </th>
            <td class="align-center" mat-cell *matCellDef="let project">
              {{ project.studentIntake }}
            </td>
          </ng-container>

          <ng-container tainer matColumnDef="StudentsAlloted">
            <th mat-header-cell *matHeaderCellDef>
              Students Alloted
            </th>
            <td mat-cell *matCellDef="let project">
              <div
                *ngIf="
                  project.student_alloted &&
                    project.student_alloted.length > 0 &&
                    publishFaculty && publishFaculty[project.stream]
                  else elseBlock
                "
              >
                <div *ngFor="let student of project.student_alloted">
                  {{ student | displayFacultyPublish }}
                </div>
              </div>
              <ng-template #elseBlock>
                N/A
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="Headers"></tr>
          <tr mat-row *matRowDef="let row; columns: Headers"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #Forms>
  <div class="container-add" *ngIf="add; else savePref_editProj">
    <form
      [formGroup]="ProjectForm"
      novalidate
      (ngSubmit)="onSubmit()"
      class="form-card"
    >
      <mat-card class="add-card mat-elevation-z12">
        <mat-card-title>
          Add Project
        </mat-card-title>
        <mat-card-content class="add-card-content">
          <div class="row">
            <mat-form-field class="full-width">
              <input matInput placeholder="Title" formControlName="title" />
              <mat-error
                *ngIf="ProjectForm.controls['title'].hasError('required')"
              >
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width">
              <input
                matInput
                type="number"
                placeholder="Duration (months)"
                formControlName="duration"
              />
              <mat-error
                *ngIf="ProjectForm.controls['duration'].hasError('required')"
              >
                Duration is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="full-width">
              <input
                matInput
                type="number"
                placeholder="No. of Students"
                formControlName="studentIntake"
              />
              <mat-error
                *ngIf="
                  ProjectForm.controls['studentIntake'].hasError('required')
                "
              >
                StudentIntake is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width">
              <textarea
                matInput
                placeholder="Description"
                formControlName="description"
              ></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button
            mat-raised-button
            class="submit_button"
            [disabled]="!ProjectForm.valid"
            color="primary"
            type="submit"
          >
            Submit
          </button>
          <button mat-raised-button color="primary" (click)="displayHome()">
            Cancel
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <ng-template #savePref_editProj>
    <mat-tab-group color="accent" [(selectedIndex)]="index" animationDuration="0" dynamicHeight="true">
      <mat-tab label="Students who opted">
        <app-student-table
          *ngIf="student_list"
          [project]="project"
          [adminStage]="adminStage"
          [student_list]="student_list"
          [index]="index"
          [reorder]="reorder"
        >
        </app-student-table>
      </mat-tab>

      <mat-tab *ngIf="adminStage >= 2" label="Students who did not opt">

        <app-student-table
          *ngIf="non_student_list"
          [student_list]="non_student_list"
          [adminStage]="adminStage"
          [project]="project"
          [index]="index"
          [reorder]="reorder"
        >
        </app-student-table>
        
      </mat-tab>

      <mat-tab class="editPage" label="Edit">
        <div class="container-edit">
          <form
            [formGroup]="EditForm"
            novalidate
            (ngSubmit)="onEditSubmit(project)"
            class="form-card"
          >
            <mat-card class="add-card mat-elevation-z12">
              <mat-card-title>
                Edit Project
              </mat-card-title>

              <mat-card-content class="add-card-content">
                <div class="row">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Title"
                      formControlName="title"
                      [(ngModel)]="project.title"
                    />
                    <mat-error
                      *ngIf="EditForm.controls['title'].hasError('required')"
                    >
                      Title is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="row">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Duration (months)"
                      formControlName="duration"
                      [(ngModel)]="project.duration"
                    />
                    <mat-error
                      *ngIf="EditForm.controls['duration'].hasError('required')"
                    >
                      Duration is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="row">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      type="number"
                      placeholder="No. of Students"
                      formControlName="studentIntake"
                      [(ngModel)]="project.studentIntake"
                    />
                    <mat-error
                      *ngIf="
                        EditForm.controls['studentIntake'].hasError('required')
                      "
                    >
                      StudentIntake is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="full-width">
                    <textarea
                      matInput
                      placeholder="Description"
                      formControlName="description"
                      [(ngModel)]="project.description"
                    ></textarea>
                  </mat-form-field>
                  <mat-error
                    *ngIf="
                      EditForm.controls['description'].hasError('required')
                    "
                  >
                    Description is <strong>required</strong>
                  </mat-error>
                </div>
              </mat-card-content>
              <mat-card-actions class="card-actions">
                <button
                  mat-raised-button
                  *ngIf="adminStage == 0"
                  class="edit-submit"
                  [disabled]="!EditForm.valid"
                  color="primary"
                  type="submit"
                >
                  Submit
                </button>
                <button
                  mat-raised-button
                  *ngIf="adminStage == 0"
                  class="deleteButton"
                  type="button"
                  color="warn"
                  (click)="deleteProject(project)"
                >
                  Delete
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="displayHome()"
                >
                  Cancel
                </button>
              </mat-card-actions>
            </mat-card>
          </form>
        </div>
      </mat-tab>
      
      

    </mat-tab-group>
  </ng-template>
</ng-template>
