<div *ngIf="!programs_mode; else programsPanel">
  <mat-selection-list #included *ngIf="adminStage >= 2; else normalList">
    <mat-list-option
      *ngFor="let project of projects; let i = index"
      (click)="onClick(project, i)"
      [class.active]="i == selectedRow"
      [selected]="project.isIncluded"
      [value]="project._id"
    >
      <div class="text">
        {{ project.title }}
        <mat-icon *ngIf="project.isIncluded">check</mat-icon>
      </div>
    </mat-list-option>
  </mat-selection-list>

  <ng-template #normalList>
    
    <mat-nav-list >
  
      <mat-list-item
      *ngFor="let project of projects; let i = index"
        (click)="onClick(project, i)"
        [class.active]="i == selectedRow"
      >
      {{ project.title }}
      </mat-list-item>
  
  
    </mat-nav-list>

  </ng-template>




  <button
    color="warn"
    mat-raised-button
    class="add-button"
    (click)="displayAdd(true)"
  >
    Add Project
  </button>

  <button
    color="warn"
    mat-raised-button
    class="add-button"
    (click)="displayHome()"
  >
    Overview
  </button>
  <button
    *ngIf="adminStage >= 2"
    color="warn"
    mat-raised-button
    class="add-button"
    (click)="includeProjects()"
  >
    Include Checked Projects
  </button>
</div>

<ng-template #programsPanel>
  <mat-nav-list *ngFor="let program of programs; let i = index">
    <a
      mat-list-item
      (click)="onProgramClick(program, i)"
      [class.active]="i == selectedRow"
    >
      {{ program.full }}
    </a>
  </mat-nav-list>
</ng-template>
