h4 {
  padding-left: 45%;
}

mat-toolbar {
  max-width: 80%;
  margin-left: 10%;
}

.display-review {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.card-review {
  display: inline-block;
  text-align: center;
  width: fit-content;
}

.display {
  overflow: hidden;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.display h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.preferences {
  margin-top: 3%;
}

.allocationStatus {
  margin-left: 10%;
  float: left;
}

.projectAlloted {
  float: left;
  width: 60%;
  margin-left: 5%;
  box-sizing: border-box;
  cursor: move;
  padding: 1px 1px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  h4 {
    padding-left: 20%;
  }
  .allocationStatus {
    margin-left: 26%;
  }
  .ep {
    font-size: x-small;
  }
  .projectAlloted {
    width: 100%;
    cursor: move;
    padding: 1px 1px;
    margin-left: 0px;
    box-sizing: border-box;
  }
}
