<mat-sidenav-container *ngIf="!faculty_home; else FacultyHomePage">
    <mat-sidenav #sidenav mode="side" opened position="end" role="navigation" [disableClose]="true">
        <mat-toolbar class="mat-elevation-z6" color="accent">
            <span class="fill-remaining-space"></span>

            <h1 class="fill-remaining-space" >My Projects</h1>
           
            <div class="mobile">
                <span class="example-spacer"></span>
                <button mat-button (click)="sidenav.toggle()">
                <mat-icon>list</mat-icon>
              </button>
            </div>
        </mat-toolbar>
        <app-sidenav [projects]="projects" [adminStage]="adminStage" [routeParams]="routeParams" [programs]="programs" [empty]="empty" (projectClicked)="displayProject($event)" (addButton)="addProject($event)" ></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z6" color="accent" *ngIf="curr_program">
            <span class="example-spacer"></span>
            <h1>{{ curr_program.full }}</h1>
            <span class="example-spacer"></span>
            <button mat-button (click)="sidenav.toggle()"><mat-icon>list</mat-icon></button>
        </mat-toolbar>
        <app-content [student_list]="student_list" [non_student_list]="non_student_list" [adminStage]="adminStage" [publishFaculty]="publishFaculty" [publishStudents]="publishStudents" [routeParams]="routeParams" [add]="add" [empty]="empty" [programs_mode]="faculty_home" [program_details]="program_details" [project]="project" [stream]="stream"></app-content>
    </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #FacultyHomePage>
    <app-faculty-home [stageDetails]="stageHomeDetails" [projectDetails]="projectHomeDetails" [publishFaculty]="publishFaculty" [publishStudents]="publishStudents"></app-faculty-home>
</ng-template>



