<mat-sidenav-container>
    <mat-sidenav mode="side" opened position="end" role="navigation" [disableClose]="true" [fixedInViewport]="true" [fixedTopGap]="64" [fixedBottomGap]="0">
        <mat-toolbar class="mat-elevation-z6" color="accent">
            <span class="fill-remaining-space"></span>

                <h1 class="fill-remaining-space" *ngIf="!programs_mode; else programsHeading">{{stream}}</h1>
            <ng-template #programsHeading>
                <h1 class="fill-remaining-space">My Programs</h1>
            </ng-template>
            
        </mat-toolbar>

        <app-sidenav [projects]="projects" [routeParams]="routeParams" [programs]="programs" [empty]="empty" (projectClicked)="displayProject($event)" [programs_mode]="programs_mode" (addButton)="addProject($event)" (programClicked)="displayProgram($event)"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z6" color="accent">
            <h1>Welcome {{ name }}</h1>
        </mat-toolbar>

        <app-content [student_list]="student_list" [adminStage]="adminStage" [routeParams]="routeParams" [add]="add" [empty]="empty" [programs_mode]="programs_mode" [program_details]="program_details" [project]="project" [stream]="stream"></app-content>
    </mat-sidenav-content>
</mat-sidenav-container>
