.progress-bar {
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  display: flex;
}

.header {
  margin-left: 2%;
  margin-top: 2%;
}

.messages {
  width: 100%;
  text-align: center;
}

.manage-font {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

[mat-row].remove-background {
  background: none;
}

.days_left {
  margin-top: 2%;
  margin-left: 2%;
}

mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

mat-sidenav-content {
  position: relative;
  margin-right: 30%;
}

.display-student {
  padding-bottom: 20px;
  margin-top: 3%;
}

.fill-remaining-space {
  flex: 1 auto 1;
}

mat-toolbar {
  justify-content: center;
}

.datelabel {
  margin-top: 8%;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.setButton {
  margin-left: 1%;
}

.example-full-width {
  width: 250px;
}

.searchBox {
  position: absolute;
  left: 70%;
  transform: translate(-50%, 50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 0px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

mat-icon:hover {
  cursor: pointer;
}

.display {
  padding-bottom: 2%;
  margin-top: 100px;
  padding-right: 1%;
  z-index: 2;
}

.table {
  // max-height: 600px;
  overflow: auto;
  width: 80%;
  margin-left: 10%;
}

table {
  width: 100%;
}

th,
td {
  overflow: hidden;
  width: 10%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-tab {
  overflow-x: scroll;
}

.finalStageButtons {
  display: inline-flex;
  margin-left: 10%;
}

.reset {
  float: right;
}

.mat-column-select {
  flex: 0 0 10%;
}

.startAllocationButton {
  margin-top: 10%;
  margin-left: 3%;
}
.project_download {
  left: 80%;
}

.download-format {
  margin-left: 1%;
}

.student_download {
  margin-left: 10%;
  margin-top: 2%;
}

.flex-space {
  margin-top: 2%;
}

.buttons {
  margin-left: 10%;
}

.import_students {
  margin-left: 1%;
}

.register_total{
  margin-left:70%;
}

.registered{
  padding-right: 2%;
}

.table_info{
  width:90px;
}

.display_faculties{
  padding-top:5%;
  padding-bottom: 2%;
  padding-right: 1%;
  z-index: 2;
}