<mat-tab-group [(selectedIndex)]="index" [backgroundColor]="'primary'" animationDuration="0" dynamicHeight="true" mat-align-tabs="center">
    <mat-tab label="Admin">
        <div class="header">
            <h1 *ngIf="stage_no == 0">Creating Projects</h1>
            <h1 *ngIf="stage_no == 1">Student Preferences</h1>
            <h1 *ngIf="stage_no == 2">Faculty Preferences</h1>
            <h1 *ngIf="stage_no == 3">Project Allocation</h1>
        </div>

        <div class="progress-bar">
            <!-- <mat-progress-bar mode="determinate" [value]="progress_value"></mat-progress-bar> -->

            <form [formGroup]="fifthFormGroup">
                <mat-form-field class="example-full-width">
                    <mat-label>Max number of projects</mat-label>
                    <input matInput placeholder="Project Cap" type="number" step="1" formControlName="fifthCtrl" />
                </mat-form-field>

                <button color="accent" mat-raised-button (click)="setProjectCap()" class="setButton">
          Set Project Cap
        </button>
            </form>
        </div>
        <span class="days_left"><strong>Time Left : </strong>
      <countdown-timer [end]="curr_deadline"></countdown-timer
    ></span>
        <mat-horizontal-stepper #stepper [labelPosition]="'bottom'" ngClass="{{ 'last-edited-step-' + stage_no }}">
            <mat-step [stepControl]="firstFormGroup" [editable]="'false'">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>
                        Creating Projects
                        <div *ngIf="stage_no > 0" class="datelabel">
                            {{ dateSet[0].toDateString() }}
                        </div>
                    </ng-template>

                    <mat-form-field class="example-full-width">
                        <mat-label>Choose Date1</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker1" formControlName="firstCtrl" />
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <div>
                        <button mat-button (click)="setDeadline()">
              Set DeadLine
            </button>

                        <button mat-button [disabled]="proceedButton1" (click)="sendEmails()">
              Send Emails
            </button>
                        <button mat-button [disabled]="proceedButton1" (click)="sendRemainder()">
              Send Remainder
            </button>
                        <button mat-button [disabled]="proceedButton1" (click)="proceed()">
              Proceed
            </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [editable]="'false'">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>
                        Student Preferences
                        <div *ngIf="stage_no > 1" class="datelabel">
                            {{ dateSet[1].toDateString() }}
                        </div>
                    </ng-template>

                    <mat-form-field class="example-full-width">
                        <mat-label>Choose a date 2</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker2" formControlName="secondCtrl" />
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <div>
                        <button mat-button (click)="setDeadline()">
              Set DeadLine
            </button>
                        <button mat-button [disabled]="proceedButton2" (click)="sendEmails()">
              Send Emails
            </button>
                        <button mat-button [disabled]="proceedButton2" (click)="sendRemainder()">
              Send Remainder
            </button>
                        <button mat-button [disabled]="proceedButton2" (click)="proceed()">
              Proceed
            </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" [editable]="'false'">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Faculty Preferences

                        <div *ngIf="stage_no > 2" class="datelabel">
                            {{ dateSet[2].toDateString() }}
                        </div>
                    </ng-template>

                    <mat-form-field class="example-full-width">
                        <mat-label>Choose a date 3</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker3" formControlName="thirdCtrl" />
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>

                    <div>
                        <button mat-button (click)="setDeadline()">
              Set DeadLine
            </button>
                        <button mat-button [disabled]="proceedButton3" (click)="sendEmails()">
              Send Emails
            </button>
                        <button mat-button [disabled]="proceedButton3" (click)="sendRemainder()">
              Send Remainder
            </button>
                        <button mat-button [disabled]="proceedButton3" (click)="proceed()">
              Proceed
            </button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="fourthFormGroup" [editable]="'false'">
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Project Allocation</ng-template>
                    <div>
                        <button mat-button (click)="startAllocation()">
              Start Allocation
            </button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-tab>

    <mat-tab label="Projects">
        <div class="searchBox">
            <input class="searchInput" autocomplete="off" type="search" mat-input placeholder="Search by any ... " name="search" [(ngModel)]="project" />
            <button class="searchButton" href="#">
        <i class="material-icons">search</i>
      </button>
        </div>
        <div class="display">
            <div class="table mat-elevation-z8">
                <table mat-table [dataSource]="projects | filter: project" class="mat-elevation-z8">
                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef [style.color]="background">
                            Title
                        </th>
                        <td mat-cell *matCellDef="let project">{{ project.title }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Faculty">
                        <th mat-header-cell *matHeaderCellDef>Faculty</th>
                        <td mat-cell *matCellDef="let project">{{ project.faculty }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Duration">
                        <th mat-header-cell *matHeaderCellDef>Duration</th>
                        <td mat-cell *matCellDef="let project">{{ project.duration }}</td>
                    </ng-container>
                    <ng-container matColumnDef="NoOfStudents">
                        <th mat-header-cell *matHeaderCellDef>NoOfStudents</th>
                        <td mat-cell *matCellDef="let project">
                            {{ project.numberOfPreferences }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Student">
                        <th mat-header-cell *matHeaderCellDef>Alloted To</th>
                        <td mat-cell *matCellDef="let project">
                            {{ project.student_alloted ? project.student_alloted : "Allocation not completed" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td [matTooltip]="project.description" matTooltipPosition="right" mat-cell *matCellDef="let project">
                            {{ project.description.substring(0, 15) + (project.description.substring(15) ? "..." : "") }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns"></tr>
                </table>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Manage">
        <mat-tab-group animationDuration="0" *ngIf="index == 2" [selectedIndex]="0">
            <mat-tab label="Students">
                <div class="searchBox">
                    <input class="searchInput" autocomplete="off" type="search" mat-input placeholder="Search by any ... " name="search" [(ngModel)]="student" />
                    <button class="searchButton" href="#">
            <i class="material-icons">search</i>
          </button>
                </div>
                <div class="display">
                    <div class="table mat-elevation-z8">
                        <table mat-table [dataSource]="students | filter: student" class="mat-elevation-z8">
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef [style.color]="background">
                                    Name
                                </th>
                                <td mat-cell *matCellDef="let student">{{ student.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Email">
                                <th mat-header-cell *matHeaderCellDef>Email-ID</th>
                                <td mat-cell *matCellDef="let student">
                                    {{ student.email }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="GPA">
                                <th mat-header-cell *matHeaderCellDef>CGPA</th>
                                <td mat-cell *matCellDef="let student">
                                    {{ student.gpa }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let student">
                                    <mat-icon matTooltip="Remove Student" matTooltipPosition="right" (click)="removeStudent(student._id)">
                                        delete_outline</mat-icon>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="studentCols"></tr>
                            <tr mat-row *matRowDef="let row; columns: studentCols"></tr>
                        </table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Faculties">
                <div class="searchBox">
                    <input class="searchInput" autocomplete="off" type="search" mat-input placeholder="Search by any ... " name="search" [(ngModel)]="project" />
                    <button class="searchButton" href="#">
            <i class="material-icons">search</i>
          </button>
                </div>
                <div class="display">
                    <div class="table mat-elevation-z8">
                        <table mat-table [dataSource]="faculties | filter: faculty" class="mat-elevation-z8">
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef [style.color]="background">
                                    Name
                                </th>
                                <td mat-cell *matCellDef="let faculty">{{ faculty.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Email">
                                <th mat-header-cell *matHeaderCellDef>Email-ID</th>
                                <td mat-cell *matCellDef="let faculty">{{ faculty.email }}</td>
                            </ng-container>
                            <ng-container matColumnDef="NoOfProjects">
                                <th mat-header-cell *matHeaderCellDef>Number OF Projects</th>
                                <td mat-cell *matCellDef="let faculty">
                                    {{ faculty.noOfProjects }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let faculty">
                                    <mat-icon matTooltip="Remove Faculty" matTooltipPosition="right" (click)="removeFaculty(faculty._id)">delete_outline</mat-icon>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="facultyCols"></tr>
                            <tr mat-row *matRowDef="let row; columns: facultyCols"></tr>
                        </table>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>
