/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

.no-toolbar-padding .mat-dialog-container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url("https://i.pinimg.com/originals/c9/96/3d/c9963d0174460bc09f4d591cd8219852.png") no-repeat center center fixed;
    background-size: 100% 100%;
}
