.navbar {
  justify-content: space-between;
}

a {
  float: right;
  padding-right: 10px;
}

.flex-space {
  flex: auto;
}

.flex-grow-right {
  flex-grow: 0.02;
}

.flex-grow-left {
  flex-grow: 0.02;
}

.nav-text {
  font-size: large;
}

.navhead {
  font-size: x-large;
}

.text {
  font-size: medium;
}

mat-toolbar {
  top: 0%;
  right: 0%;
  left: 0%;
  z-index: 2;
}
