<mat-toolbar class="mat-elevation-z8" color="primary">
    <div>
        <button mat-button [routerLink]="getURLHome()">
      <span class="navhead">IIT Palakkad</span>
    </button>
    </div>
    <div *ngIf="isFaculty()">
        <div class="flex-grow-left"></div>
        <button mat-button [routerLink]="getURLHome()" class="nav-text">
      Home
    </button>
    </div>
    <div *ngIf="isUser() && !isFaculty() && !isSuperAdmin()">
        <div class="flex-grow-left"></div>
        <button mat-button [routerLink]="getUrlProjects()" class="nav-text">
      My Projects
    </button>
    </div>
    <div *ngIf="isFaculty() && !isFaculty()">
        <div class="flex-grow-left"></div>
        <button mat-button [routerLink]="getAddProjects()" class="nav-text">
      Add Projects
    </button>
    </div>
    <div *ngIf="isUser() && !isFaculty() && !isSuperAdmin()">
        <div class="flex-grow-left"></div>
        <button mat-button [routerLink]="getUrlPreferences()" class="nav-text">
      Preferences
    </button>
    </div>
    <div class="flex-space"></div>
    <div class="flex-grow-right"></div>
    <div>
        <div *ngIf="isUser()">
            <button mat-button [matMenuTriggerFor]="beforeMenu">
        <span class="nav-text">Options</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item [routerLink]="getProfile()">Profile</button>
                <button mat-menu-item [routerLink]="getAdmin()" *ngIf="isAdmin()">
          Admin
        </button>
                <button mat-menu-item [routerLink]="getSuperAdminURL()" *ngIf="isSuperAdmin()">
          Super Admin
        </button>
            </mat-menu>
        </div>
    </div>
    <div class="flex-grow-right"></div>
    <app-theme-picker></app-theme-picker>
    <div class="flex-grow-right"></div>
    <app-login></app-login>
</mat-toolbar>

<router-outlet></router-outlet>
