.full-width {
  width: 70%;
}

.row {
  display: flex;
  flex-direction: row;
  padding-left: 25%;
}

.col {
  flex: 3;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

h2 {
  padding-left: 40%;
}

mat-dialog-actions {
  margin-left: 38%;
}

button {
  bottom: 5%;
}
