<div class="profile">
    <div *ngIf="getStudentDiv()">
        <mat-card class="example-card">
            <img mat-card-avatar [src]="getUrl()" class="image" />
            <div *ngIf="user_info">
                <form [formGroup]="studentFormGroup" class="facultyForm">
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <mat-card-title>
                            <input matInput placeholder="name" formControlName="name" /></mat-card-title>
                    </mat-form-field>
                    <p class="example-full-width">
                        <strong>Stream</strong> : {{ user_info.stream }}
                    </p>
                    <p class="example-full-width">
                        <strong>Email-ID</strong> : {{ user_info.email }}
                    </p>
                    <mat-form-field class="example-full-width">
                        <mat-label>CGPA</mat-label>
                        <mat-card-title>
                            <input matInput placeholder="CGPA" formControlName="gpa" /></mat-card-title>
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="updateStudentProfile()">
              Update Profile
            </button>
                    </mat-card-actions>
                </form>
            </div>
        </mat-card>
    </div>
    <div *ngIf="getFacultyDiv()">
        <mat-tab-group [backgroundColor]="'primary'" dynamicHeight="true" mat-align-tabs="center">
            <mat-tab label="About Me">
                <mat-card class="example-card">
                    <img mat-card-avatar [src]="getUrl()" class="image" />
                    <div *ngIf="user_info">
                        <form [formGroup]="facultyFormGroup" class="facultyForm">
                            <mat-form-field class="example-full-width">
                                <mat-label>Name</mat-label>
                                <mat-card-title>
                                    <input matInput placeholder="name" formControlName="name" />
                                </mat-card-title>
                            </mat-form-field>
                            <p class="example-full-width">
                                <strong>Stream</strong> : {{ user_info.stream }}
                            </p>
                            <p class="example-full-width">
                                <strong>Email-ID</strong> : {{ user_info.email }}
                            </p>
                            <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="updateFacultyProfile()">
                  Update Profile
                </button>
                            </mat-card-actions>
                        </form>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="My Programs">
                <form [formGroup]="programGroup">
                    <mat-form-field class="select" style="width: 50%;">
                        <mat-label>Programs</mat-label>
                        <mat-select formControlName="programs" multiple>
                            <mat-option *ngFor="let program of programs" [value]="[program.short, program.full]">{{ program.full }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="programGroup.controls['programs'].hasError('required')">
                            Programs are <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <span>
            <button
              class="submit"
              mat-raised-button
              color="primary"
              (click)="addProgram()"
            >
              Submit
            </button>
          </span>
                </form>
                <div class="display">
                    <div class="table mat-elevation-z8">
                        <table mat-table #table [dataSource]="faculty_programs" class="mat-elevation-z8">
                            <ng-container tainer matColumnDef="Program Name">
                                <th mat-header-cell *matHeaderCellDef>
                                    Program Name
                                </th>
                                <td mat-cell *matCellDef="let map">{{ map.full }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Delete">
                                <th mat-header-cell *matHeaderCellDef>Delete Program</th>
                                <td mat-cell *matCellDef="let map">
                                    <mat-icon matTooltip="Delete Program" matTooltipPosition="right" (click)="deleteProgram(map)">delete_outline</mat-icon>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="programHeader"></tr>
                            <tr mat-row *matRowDef="let row; columns: programHeader"></tr>
                        </table>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
