<div *ngIf="!isPrefenceEdit()">
  <mat-sidenav-container class="example-container">
    <mat-sidenav
      [style.width.%]="sidenavWidth"
      class="drawer"
      #side
      mode="side"
      opened
    >
      <mat-toolbar color="accent" class="toolbar">
        <div class="fill-space"></div>
        <h1 class="heading">
          Current Preferences
        </h1>
        <div class="fill-space"></div>
        <button
          *ngIf="showToggleOnSidenav"
          [matTooltip]="side.opened ? 'close preferences' : 'view preferences'"
          matTooltipPosition="above"
          mat-button
          class="show-preferences"
          (click)="side.toggle()"
        >
          <mat-icon>list</mat-icon>
        </button>
      </mat-toolbar>
      <div class="display-preferences">
        <app-display-preferences
          [preferences]="preferences.data"
          [stage]="stage"
          (updateProjects)="updateProjects($event)"
        ></app-display-preferences>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="accent">
        <button
          [matTooltip]="side.opened ? 'close preferences' : 'view preferences'"
          matTooltipPosition="above"
          mat-button
          class="show-preferences"
          (click)="side.toggle()"
        >
          <mat-icon>list</mat-icon>
        </button>
        <div class="fill-space"></div>
        <h1 class="heading">
          Available Projects
        </h1>
        <div class="fill-space"></div>
      </mat-toolbar>
      <mat-form-field>
        <mat-label>Filter by Faculty name or Title</mat-label>
        <input
          autocomplete="off"
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Search...."
        />
      </mat-form-field>
      <button
        mat-raised-button
        class="add-preferences"
        color="primary"
        [disabled]="stage >= 2"
        (click)="onSubmit($event)"
      >
        Add to Preferences
      </button>

      <div class="display">
        <div [style.max-height.px]="tableHeight" class="table mat-elevation-z8">
          <table
            #table
            mat-table
            [dataSource]="projects"
            multiTemplateDataRows
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  color="primary"
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel(null)"
                >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  color="primary"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="Title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let project">{{ project.title }}</td>
            </ng-container>
            <ng-container matColumnDef="Faculty">
              <th mat-header-cell *matHeaderCellDef>Faculty</th>
              <td mat-cell *matCellDef="let project">
                {{ project.faculty_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef>Email-ID</th>
              <td mat-cell *matCellDef="let project">
                {{ project.faculty_email }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Intake">
              <th mat-header-cell *matHeaderCellDef>Student Intake</th>
              <td mat-cell *matCellDef="let project">
                {{ project.studentIntake }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef>Add Preference</th>
              <td
                mat-cell
                (click)="$event.stopPropagation()"
                *matCellDef="let project"
              >
                <mat-icon
                  matTooltip="Add {{ project.title }} to preferences"
                  [matTooltipPosition]="'above'"
                  (click)="addOnePreference(project)"
                  >add</mat-icon
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let project"
                [attr.colspan]="displayedColumns.length"
              >
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    project == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <div class="example-element-description">
                    Description : {{ project.description }}
                  </div>
                </div>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let element;
                let i = dataIndex;
                columns: displayedColumns
              "
              class="example-element-row remove-background"
              [class.example-expanded-row]="expandedElement === element"
              (mouseenter)="isActive = true; indexHover = i"
              (mouseleave)="isActive = false; indexHover = -1"
              [class.mat-elevation-z8]="isActive && indexHover == i"
              (click)="
                expandedElement = expandedElement === element ? null : element
              "
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
          </table>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-edit-preferences
  [preferences]="preferences"
  [stage]="stage"
  *ngIf="isPrefenceEdit()"
></app-edit-preferences>
