table {
  width: 90%;
  margin-left: 5%;
}

mat-drawer {
  width: 50%;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-form-field {
  margin-left: 5%;
  width: 30%;
  margin-top: 50px;
}

mat-icon:hover {
  cursor: pointer;
}

.add-preferences {
  float: right;
  margin-top: 60px;
  margin-right: 5%;
}

tr {
  :hover {
    cursor: pointer;
  }
}

tr.example-detail-row {
  height: 0;
  :hover {
    cursor: default;
  }
}

tr.example-element-row:not(.example-expanded-row):hover {
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  cursor: pointer;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.fill-space {
  flex: 1 1 auto;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
