<div *ngIf="!(router.url | isPreferenceEdit); else elseBlock">
    <mat-sidenav-container class="example-container">
        <mat-sidenav
            #side [style.width.%]="sidenavWidth" class="drawer" closed mode="side">
            <mat-toolbar
                [@openClose]="
                    side.opened
                        ? sidenavWidth == 100
                            ? 'fullOpen'
                            : 'open'
                        : 'close'
                " class="toolbar" color="accent">
                <div class="fill-space"></div>
                <h1 class="heading">
                    Current Preferences ({{ preferences.filteredData.length }}) </h1>
                <div class="fill-space"></div>
                <button
                    (click)="side.toggle()" *ngIf="showToggleOnSidenav" [matTooltip]="
                        side.opened ? 'close preferences' : 'view preferences'
                    " class="show-preferences" mat-button matTooltipPosition="above">
                    <mat-icon>list</mat-icon>
                </button>
            </mat-toolbar>
            <div class="display-preferences">
                <app-display-preferences
                    (updateProjects)="updateProjects($event)"
                    [preferences]="preferences.data"
                    [stage]="stage"></app-display-preferences>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="accent">
                <button
                    (click)="side.toggle()" [matTooltip]="
                        side.opened ? 'close preferences' : 'view preferences'
                    " class="show-preferences" mat-button matTooltipPosition="above">
                    <mat-icon>list</mat-icon>
                </button>
                <div class="fill-space"></div>
                <h1 class="heading">
                    Available Projects ({{ projects.filteredData.length }}) </h1>
                <div class="fill-space"></div>
            </mat-toolbar>
            <mat-form-field>
                <mat-label>Filter by any...</mat-label>
                <input
                    (keyup)="applyFilter($event)" autocomplete="off" matInput placeholder="Search...." type="search" />
            </mat-form-field>
            <button
                (click)="onSubmit($event)"
                [disabled]="stage >= 2"
                class="add-preferences"
                color="primary"
                mat-raised-button>
                Add to Preferences
            </button>

            <div class="display">
                <div
                    [style.max-height.px]="tableHeight" class="table mat-elevation-z8">
                    <table
                        #table [dataSource]="projects" class="mat-elevation-z8" mat-table multiTemplateDataRows>
                        <ng-container matColumnDef="select">
                            <th *matHeaderCellDef mat-header-cell>
                                <mat-checkbox
                                    (change)="$event ? masterToggle() : null"
                                    [aria-label]="checkboxLabel(null)"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="isAnyOneSelected() && !isAllSelected()"
                                    color="primary"></mat-checkbox>
                            </th>
                            <td *matCellDef="let row" mat-cell>
                                <mat-checkbox
                                    (change)="$event ? selection.toggle(row) : null"
                                    (click)="$event.stopPropagation()"
                                    [aria-label]="checkboxLabel(row)"
                                    [checked]="selection.isSelected(row)"
                                    color="primary"></mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Title">
                            <th *matHeaderCellDef mat-header-cell>Title</th>
                            <td *matCellDef="let project" mat-cell>
                                {{ project.title }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Faculty">
                            <th *matHeaderCellDef mat-header-cell>Faculty</th>
                            <td *matCellDef="let project" mat-cell>
                                {{ project.faculty_name }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Email">
                            <th
                                *matHeaderCellDef class="align-head" mat-header-cell>
                                Email-ID
                            </th>
                            <td
                                *matCellDef="let project" class="align-head" mat-cell>
                                {{ project.faculty_email }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Intake">
                            <th
                                *matHeaderCellDef class="align-head" mat-header-cell>
                                Student Intake
                            </th>
                            <td
                                *matCellDef="let project" class="align-data" mat-cell>
                                {{ project.studentIntake }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Actions">
                            <th *matHeaderCellDef mat-header-cell>
                                Add Preference
                            </th>
                            <td
                                (click)="$event.stopPropagation()" *matCellDef="let project" mat-cell>
                                <mat-icon
                                    (click)="addOnePreference(project)"
                                    [matTooltipPosition]="'above'"
                                    matTooltip="Add {{project.title}} to preferences">
                                    add
                                </mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="expandedDetail">
                            <td
                                *matCellDef="let project" [attr.colspan]="displayedColumns.length" mat-cell>
                                <div
                                    [@detailExpand]="project == expandedElement? 'expanded': 'collapsed'"
                                    class="example-element-detail">
                                    <div class="example-element-description">
                                        <p>
                                            Description : {{ project.description }}
                                        </p>
                                        <p>Duration : {{ project.duration }} months</p>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr
                            *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                        <tr
                            (click)="expandedElement = expandedElement === element ? null : element"
                            (mouseenter)="isActive = true; indexHover = i"
                            (mouseleave)="isActive = false; indexHover = -1"
                            *matRowDef="
                                let element;
                                let i = dataIndex;
                                columns: displayedColumns
                            "
                            [class.example-expanded-row]="expandedElement === element"
                            [class.mat-elevation-z8]="isActive && indexHover == i"
                            class="example-element-row remove-background"
                            mat-row></tr>
                        <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
                    </table>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<ng-template #elseBlock>
    <app-edit-preferences [preferences]="preferences" [stage]="stage"></app-edit-preferences>
</ng-template>
