<mat-card class="card">
    <mat-card-header class="card-head">
        <div class="head-div">Edit {{ which }} details</div>
    </mat-card-header>
    <mat-card-content [formGroup]="addForm" novalidate>
        <div class="row">
            <mat-form-field class="full-width">
                <input
                    [value]="full"
                    autocomplete="off"
                    formControlName="full"
                    matInput
                    placeholder="{{ which }} name"
                />
                <mat-error
                    *ngIf="addForm.controls['full'].hasError('required')"
                >
                    {{ which }} name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <input
                    [value]="short"
                    autocomplete="off"
                    formControlName="short"
                    matInput
                    placeholder="{{ which }} Abbrevation"
                />
                <mat-error
                    *ngIf="addForm.controls['short'].hasError('required')"
                >
                    {{ which }} Abbrevation is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="addForm.controls['short'].errors?.pattern">
                    {{ which }} Abbrevation can only consist of
                    <strong>letters</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button
            (click)="onSubmit()"
            [disabled]="!addForm.valid"
            class="submit_button"
            color="primary"
            mat-raised-button
        >
            Submit
        </button>
        <button
            (click)="onNoClick()"
            class="close_button"
            color="warn"
            mat-raised-button
            type="submit"
        >
            Close
        </button>
    </mat-card-actions>
</mat-card>
