.group {
    justify-content: center;
    height: 15%;
}

.timer {
    margin-top: 10px;
    margin-left: 5%;
}

.text {
    float: right;
    margin-right: 5%;
}

.stage-1 {
    max-width: 20%;
    float: left;
    padding-top: 3.5%;
}

.start {
    padding-left: 5%;
}

.icon:hover {
    cursor: pointer;
}

.card {
    visibility: hidden;
}

.icon:hover .card {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}