<div class="timer">
    <span class="days_left"><strong>Time Left for this stage to end : </strong>
    <countdown-timer [end]="curDeadline"></countdown-timer>
  </span>
</div>
<div class="group" *ngIf="admins; else elseBlock">
    <a matTooltip="Faculties Start Project Allocation" matTooltipPosition="above" [ngStyle]="icon" class="stage-1-icon start icon">
        <mat-icon *ngIf="!startCompleted">check_circle_outline</mat-icon>
        <mat-icon *ngIf="startCompleted">check_circle</mat-icon>
    </a>
    <mat-progress-bar class="stage-1" mode="determinate" [value]="stageOne"></mat-progress-bar>
    <a matTooltip="Projects are decided by the faculties" matTooltipPosition="above" [ngStyle]="icon" class="stage-1-icon icon">
        <mat-icon *ngIf="stageOneCompleted">check_circle</mat-icon>
        <mat-icon *ngIf="!stageOneCompleted">check_circle_outline</mat-icon>
    </a>
    <mat-progress-bar class="stage-1" mode="determinate" [value]="stageTwo"></mat-progress-bar>
    <a matTooltip="Students finish submitting their preferences" matTooltipPosition="above" [ngStyle]="icon" class="stage-1-icon icon">
        <mat-icon *ngIf="stageTwoCompleted">check_circle</mat-icon>
        <mat-icon *ngIf="!stageTwoCompleted">check_circle_outline</mat-icon>
    </a>
    <mat-progress-bar class="stage-1" mode="determinate" [value]="stageThree"></mat-progress-bar>
    <a matTooltip="Faculties finish submitting their preferences" matTooltipPosition="above" [ngStyle]="icon" class="stage-1-icon icon">
        <mat-icon *ngIf="stageThreeCompleted">check_circle</mat-icon>
        <mat-icon *ngIf="!stageThreeCompleted">check_circle_outline</mat-icon>
    </a>
    <mat-progress-bar class="stage-1" mode="determinate" [value]="stageFour"></mat-progress-bar>
    <a matTooltip="Projects are alloted" matTooltipPosition="above" [ngStyle]="icon" class="stage-1-icon icon">
        <mat-icon *ngIf="stageFourCompleted">check_circle</mat-icon>
        <mat-icon *ngIf="!stageFourCompleted">check_circle_outline</mat-icon>
    </a>
</div>
<ng-template #elseBlock>
    <h2>You stream does not have an admin yet so there is no timeline to display</h2>
</ng-template>