<div class="mat-dialog">
    <h1 mat-dialog-title>Confirm Submission</h1>
    <div mat-dialog-content>
        Are you sure you want to submit your changes?
    </div>
    <div class="buttons">
        <button (click)="onNoClick()"
                class="mat-btn-1"
                color="warn"
                mat-raised-button>
            No Thanks
        </button>
        <button (click)="onSubmit()"
                class="mat-btn-2"
                color="primary"
                mat-raised-button>
            Confirm Submission
        </button>
    </div>
</div>
