<div class="container">
    <mat-sidenav-container *ngIf="!facultyHome; else FacultyHomePage">
        <mat-sidenav
            #sidenav [disableClose]="true" mode="side" opened position="end" role="navigation">
            <mat-toolbar class="mat-elevation-z6" color="accent">
                <span class="fill-remaining-space"></span>

                <h1 class="fill-remaining-space">My Projects</h1>

                <div class="mobile">
                    <span class="example-spacer"></span>
                    <button (click)="sidenav.toggle()" mat-button>
                        <mat-icon>list</mat-icon>
                    </button>
                </div>
            </mat-toolbar>
            <app-sidenav
                    (addButton)="addProject($event)"
                    (homeClicked)="homeClicked($event)"
                    (projectClicked)="displayProject($event)"
                    [adminStage]="adminStage"
                    [empty]="empty"
                    [programs]="programs"
                    [projects]="projects"
                    [routeParams]="routeParams"></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-toolbar
                    *ngIf="curProgram" class="mat-elevation-z6" color="accent">
                <span class="example-spacer"></span>
                <h1>{{ curProgram.full }}</h1>
                <span class="example-spacer"></span>
                <button (click)="sidenav.toggle()" mat-button>
                    <mat-icon>list</mat-icon>
                </button>
            </mat-toolbar>
            <app-content
                    (homeClick)="homeClicked($event)"
                    (reorderChange)="changeReorder($event)"
                    [add]="add"
                    [adminStage]="adminStage"
                    [empty]="empty"
                    [nonStudentList]="nonStudentList"
                    [programDetails]="programDetails"
                    [programsMode]="facultyHome"
                    [project]="project"
                    [publishFaculty]="publishFaculty"
                    [publishStudents]="publishStudents"
                    [reorder]="reorder"
                    [routeParams]="routeParams"
                    [stream]="stream"
                    [studentList]="studentList"></app-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<ng-template #FacultyHomePage>
    <app-faculty-home
            [projectDetails]="projectHomeDetails"
            [publishFaculty]="publishFaculty"
            [publishStudents]="publishStudents"
            [stageDetails]="stageHomeDetails"></app-faculty-home>
</ng-template>
