<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div class="list" *ngIf="preferences && preferences.length != 0; else empty">
    <mat-accordion class="accordion">
      <div class="list-item" *cdkVirtualFor="let preference of preferences">
        <div class="expansion-panel">
          <mat-expansion-panel>
            <mat-expansion-panel-header class="disable_ripple">
              <mat-panel-title class="ep">
                Project Title : {{ preference["title"] }}
              </mat-panel-title>
              <mat-panel-description>
                <div class="fill-space"></div>
                <mat-icon
                  (click)="
                    removeOnePreference(preference); $event.stopPropagation()
                  "
                  >delete</mat-icon
                >
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Faculty Name : {{ preference["faculty_name"] }}</p>
            <p>Faculty Email : {{ preference["faculty_email"] }}</p>
            <p>Description : {{ preference["description"] }}</p>
            <p>Student Intake : {{ preference["studentIntake"] }}</p>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-accordion>
  </div>
</cdk-virtual-scroll-viewport>

<ng-template #empty>
  <div class="emptyBlock" style="padding-top: 10%;">
    No Preferences To Display. Start adding preferences.
  </div>
</ng-template>
