.emptyBlock {
  text-align: center;
}

.flex-space {
  flex-grow: 1;
}

mat-toolbar {
  text-align: center;
}

.fill-space {
  flex: 1 1 auto;
}

.icon {
  float: right;
}

.expansion-panel {
  float: left;
  min-width: 100%;
  max-width: 100%;
}

mat-icon:hover {
  cursor: pointer;
}

.example-viewport::-webkit-scrollbar {
  display: none;
}

.example-viewport {
  -ms-overflow-style: none;
}

.example-viewport {
  height: 100%;
  width: 100%;
}

.list {
  min-height: 60px;
  border-radius: 4px;
  display: block;
}

.emptyBlock {
  padding-left: 33%;
  font-size: large;
}

.expansion-panel {
  padding: 5px 2px;
}

.list-item {
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.list-item:last-child {
  border: none;
}
.disable_ripple:hover {
  background: red !important;
}
