@mixin home-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    app-home {
        .container {
            background: "linear-gradient(125deg, white 25%," + $primary + "25%)";
        }
    }
}