<div class="container">
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
            <mat-grid-tile-header class="image"></mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="heading">
                <h1>
          <span
              (complete)="onComplete()"
              [startDelay]="1000"
              [typeSpeed]="80"
              hideCursorOnComplete="true"
              typingAnimation
          >
            Project Allocation Portal
          </span>
                </h1>
                <hr class="line"/>
                <h2>
          <span
              [condition]="toType"
              [startDelay]="0"
              [typeSpeed]="30"
              hideCursorOnComplete="true"
              typingAnimation
          >
            Project allocation made easy.
          </span>
                </h2>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="mobile">
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-grid-tile-header class="image"></mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile class="mobile-head">
            <div class="heading">
                <h1>
          <span
              (complete)="onComplete()"
              [startDelay]="1000"
              [typeSpeed]="80"
              hideCursorOnComplete="true"
              typingAnimation
          >
            Project Allocation Portal
          </span>
                </h1>
                <hr class="line"/>
                <h2>
          <span
              [condition]="toType"
              [startDelay]="0"
              [typeSpeed]="30"
              hideCursorOnComplete="true"
              typingAnimation
          >
            Project allocation made easy.
          </span>
                </h2>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
