<!-- <div class="container">
    <div class="Info wrapper">
        <h1>
            <span typingAnimation [typeSpeed]="100" [startDelay]="500" (complete)="onComplete()">
                Project-Allocation App
            </span>
        </h1>
    </div>
    <app-login></app-login>
    <div class="image">
    </div>
</div> -->


<body class="body">
    <div class="text wrapper">
        <h1>
            <span typingAnimation [typeSpeed]="100" [startDelay]="500" (complete)="onComplete()">
        Project-Allocation App
      </span>
        </h1>
    </div>
    <app-login class="login-button"></app-login>
    <div class="container">
    </div>
</body>