
<div class="container">
<div class="Info wrapper">


        <h1>
            <span typingAnimation [typeSpeed]="100" [startDelay]="500" (complete)="onComplete()">
                
                Project-Allocation App
            </span>
        </h1>

    
</div>
<app-login></app-login>

<div class="image">
    
</div>

</div>
<!-- <div class="container">

    <mat-toolbar color="primary" class="toolbar">
        
        <div class="headlines">
            <h1 class="title">Project-Allocation Portal</h1>
        </div>

        <div class="login">
        <app-login></app-login>
        </div>

        
        
    </mat-toolbar>
</div> -->