.image {
    height: 100%;
    margin-top: 100px;
    width: 100%;
    background: url("./../../../../images/IITPKD_Logo.jpg") no-repeat;
    background-size: 60%;
}

.container {
    width: 100%;
    position: fixed;
    height: 400vh;
}

.image .Info {
    opacity: 1;
}

.heading {
    margin-bottom: 25%;
}

.line {
    margin-top: 10%;
}

h1 {
    font-size: 70px;
    color: white;
}

h2 {
    color: white;
}