.full-width {
    width: 60%;
}

mat-card-header {
    margin-left: 40%;
}

mat-form-field {
    margin-left: 80px;
}

mat-card-actions {
    margin-left: -10%;
}

.message {
    text-align: center;
    margin-top: 5%;
}

.text {
    display: inline-block;
}

.cgpa-field {
    width: 30%;
}

mat-card-content {
    padding-left: 12%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 3;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.register-wrapper {
    text-align: center;
}

.register {
    z-index: 8;
}

.register-page {
    display: inline-block;
    width: 50%;
    margin-top: 10%;
}

button {
    bottom: 5%;
}