.full-width {
    width: 60%;
}

mat-card-title {
    margin-left: 280px;
}

mat-form-field {
    margin-left: 80px;
}

mat-card-actions {
    margin-left: 300px;
}

.cgpa-field {
    width: 30%;
}

.shipping-card {
    min-width: 120px;
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 600px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 3;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}